[run]
source = .
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */settings.py
    ../traininSync-front/*
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    if self\.debug
    if __name__ == .__main__.:
